<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-container fluid grid-list-md>
          <v-form @submit="submit">
            <v-text-field
              v-model="email"
              v-validate="'required'"
              :counter="30"
              :error-messages="errors.collect('email')"
              label="email"
              data-vv-name="email"
              required
            ></v-text-field>
            <v-text-field
              v-model="password"
              v-validate="'required'"
              :error-messages="errors.collect('password')"
              label="Password"
              data-vv-name="password"
              type="password"
              required
            ></v-text-field>

            <v-btn type="submit">Login</v-btn>
            <v-btn @click="clear">clear</v-btn>
          </v-form>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'AuthLogin',

  middleware: 'auth',
  auth: 'guest',

  $_veeValidate: {
    validator: 'new'
  },

  layout: 'blank',

  data: () => ({
    email: '',
    password: '',
    remember: null,
    dictionary: {
      attributes: {
        email: 'email',
        password: 'Password'
        // custom attributes
      },
      custom: {
        email: {
          required: () => 'Email can not be empty',
          max: 'The name field may not be greater than 10 characters'
          // custom messages
        },
        password: {
          required: 'Password field is required'
        }
      }
    }
  }),

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },

  methods: {
    async submit(e) {
      e.preventDefault() // stop default form action

      const validated = await this.$validator.validateAll()
      if (!validated) return

      // submit form
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })

        // this.$router.push('/management')
      } catch (error) {
        const data = error.response ? error.response.data : []
        data.forEach(e => {
          this.$validator.errors.add({
            // id: field.id,
            field: e.field,
            msg: e.message,
            scope: this.$options.scope
          })
        })
      }
    },
    clear() {
      this.email = ''
      this.password = ''
      this.remember = null
      this.$validator.reset()
    }
  }
}
</script>
